@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Select an option to get started:</p>
    <div>
        <a asp-controller="ProjectView" asp-action="Create" class="btn btn-primary">New Project</a>
        <a asp-controller="ProjectView" asp-action="Update" class="btn btn-secondary">Existing Project</a>
    </div>
</div>
